* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
    background-color: hsl(233, 47%, 7%);
}

.desktop__img {
    opacity: 0;
}

.mobile__img {
    opacity: 1;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.stats__card {
    position: relative;
    width: 340px;
    height: 875px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

.stats__image {
    position: absolute;
    bottom: 20.5rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
    clip-path: inset(37.5% 0 30% 0 round 10px 10px 0 0);
}

.overlay {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 40rem;
    left: 0;
    background-color: hsl(277, 64%, 61%);
    mix-blend-mode: multiply;
    clip-path: inset(0 0 0 0 round 10px 10px 0 0);
}

.stats__head {
    position: inherit;
    top: 30%;
    text-align: center;
    padding: 5% 5%;
    color: hsl(0, 0%, 100%);
}

.stats__head span {
    color: hsl(277, 64%, 61%);
}

.stats_description {
    position: inherit;
    top: 32%;
    text-align: center;
    line-height: 25px;
    padding: 0 10% 10% 10%;
    color: hsla(0, 0%, 100%, 0.75);
}

.stats__figures {
    position: inherit;
    top: 33%;
    text-align: center;
}

.stats__figures__head {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}

.stats__figures__body {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 2%;
}

.stats__figures__two {
    padding: 15% 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media only screen and (min-width: 1400px) {

    .desktop__img {
        opacity: 1;
    }
    
    .mobile__img {
        opacity: 0;
    }

    .container {
        margin: 0;
    }

    .stats__card {
        position: relative;
        width: 1040px;
        height: 446px;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
    }

    .stats__image {
        position: absolute;
        left: 15.6rem;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        clip-path: inset(0 24% 0 26% round 0 10px 10px 0);
    }

    .overlay {
        bottom: 0;
    } 

    .stats__head {
        position: inherit;
        top: 0;
        left: 4%;
        display: inline-block;
        text-align: left;
        width: 45%;
        padding: 5% 5%;
        color: hsl(0, 0%, 100%);
    }

    .stats_description {
        position: inherit;
        top: 0;
        right: 1%;
        display: block;
        width: 55%;
        text-align: left;
        line-height: 25px;
        padding: 0 10% 8% 10%;
        color: hsla(0, 0%, 100%, 0.75);
    }

    .stats__figures {
        position: inherit;
        top: 0;
        right: 25%;
        text-align: center;
    }

    .stats__figures__one {
        display: inline-block;
    }

    .stats__figures__two {
        display: inline-block;
        padding: 0 6%;
    }

    .stats__figures__three {
        display: inline-block;
    }

}